{% extends 'base.html' %}

{% block header %}
  <div class="header-actions">
    {% if g.user %}
      <a class="action" href="{{ url_for('blog.create') }}">New Post</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h2> 
            <a href="{{ url_for('blog.get_page', year=post.created.year, month=post.created.month, day=post.created.day, slug=post.slug) }}">
            {{ post.title }}
            </a>
          </h2>
          <div class="about"> {{ post['username'] }}  {{ post['last_modified'].strftime("%x") }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', slug=post.slug ) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'][:1000] }}</p>
      <a class="action" href="{{ url_for('blog.get_page', year=post.created.year, month=post.created.month, day=post.created.day, slug=post.slug) }}">Read more</a>
    </article>
    </article>
    {% if not loop.last %}
      <br> <br>
    {% endif %}
  {% endfor %}
{% endblock %}