<!Doctype html>

  <header>
    <title>{% block title %}{% endblock %} Layla Tadjpour's Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </header>
 
<nav>
  {% if request.endpoint != 'blog.index' %}
    <a href="{{ url_for('index') }}" class="main-title">
      <h1>Layla Tadjpour's Blog</h1>
    </a>
  {% else %}
    <h1> Layla Tadjpour's Blog</h1>
  {% endif %}
  
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %} {% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash"> {{ message }} </div>
  {% endfor %}
  {% block content %} {% endblock %}
</section>